body {
    font-family: "Teko", sans-serif;
    background: rgb(80, 80, 80);
    color: white;
}

h1 {
    text-align: center;
    line-height: 100px;
    background: rgb(139, 139, 139);
}

h2 {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navbar {
    line-height: 80px;
}